* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

.header {
    position: relative;
    height: 150px;
    background-image: url(../images/header-footer.jpg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    text-align: center;
}

.header-title {
    font-family:"Oswald","jersey 25", Tahoma, sans-serif;
    font-weight:bold;
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 5rem;
    margin: 0;
}
.subtitle{
    margin: 20px 0 0;
    color: rgb(159, 158, 158);
    background-color: black;
    font-family: "Geist Pixel", Tahoma, sans-serif;
    font-size: 0.9rem;
    letter-spacing: 2px;

}
.footer {
    background-image: url(../images/header-footer.jpg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: "Press Start 2p", Tahoma, sans-serif;
    font-size: 2rem;
    color: black;
    -webkit-text-stroke: 2px #ff551f;
    text-align: center;
    font-weight: bolder;
    padding: 16px;
    border-top: 8px solid black;
}

.menu {
    padding: 16px;   
    background-color: black;
}

.mobile-menu-trigger {
    height: 50px;
}

.mobile-menu-target {
    display: none;
}

.menu-item {
    border : 1px solid #ff551f;
    border-radius: 10px;
    color: #ff551f;
    background-color: black;
    padding: 8px;
    margin: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all linear 0.4s;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #ff551f;
    border-color: white;
    color: black;
}

.menu-item.active {
    background-color:black;
    color:white;
    border: 3px solid #ff551f;


}


.main {
    background-attachment: fixed;
    background-image: url("../images/forestpix.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    padding: 16px 32px;
}

.content {
    border: 5px solid white;
    border-radius: 8px;
    background-color:rgba(0, 0, 0, 0.8);
    color:#ff551f;
    text-align: center;
}

.info {
    padding: 16px;
    font-size: 1.5rem;
    font-family: "Geist Pixel", Tahoma, sans-serif;
}

.info h2 {
    color: white;
    font-family: "Playfair Display", serif;
}


@media screen and (max-width: 768px) {
    .menu:hover .mobile-menu-target {
    display: block;
    }
    .header {
        background-image: url(../images/backdrop.jpg.png);
        width: 100%;
        overflow: hidden;
    }

    .header-title {
        color: rgba(0, 0, 0, 0.1);
        -webkit-text-stroke: 1px black;
        width: 100%;
        margin: 0;
        text-align: center;
        white-space: nowrap;
        font-size: 16vw;
    }
    .subtitle{
        display: none;
    }
    .info {
        font-size: 5vw;
    }
    .featured img {
        content: url("../images/crowdcrop1.jpg.png");
    }
    .footer {
        background-image: url(../images/backdrop.jpg.png);
        text-align: center;
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: "Geist Pixel", serif;
        -webkit-text-stroke: 0;
        color: white;
        font-size: clamp(1rem, 4vw, 2rem);        
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu-trigger {
        display: none;
    }
    .mobile-menu-target {
        display: flex;
        max-width: 940px;
        margin: auto;
    }

    .menu-item {
        flex: 1;
        text-align: center;
    }

    .featured {
        display: flex;
        max-width: 80%;
        margin: auto;
    }
    .featured img {
        width: 50%;
    }
}